.header {
    padding: 40px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    z-index: 105;
}

.header__icon-list {
    display: flex;
    justify-content: center;
    gap: 5px;
}


.header__icon {
    width: 20px;
    height: 20px;
}