.hero {
    margin-bottom: 100px;

}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 55px;



}

@media(min-width:992px) {
    .hero__container {
        flex-direction: row;
    }
}

.hero__content {
    max-width: 545px;

}

.hero__title {
    font-size: calc(25px + (48 - 25) * ((100vw - 320px) / (1440 - 320)));
    margin-bottom: 25px;
}

@media(min-width :1440px) {
    .hero__title {
        font-size: 48px;
    }

}

.hero__title-red {
    color: #EE4248;

}

.hero__text {
    margin-bottom: 25px;
}



.hero__btn {
    padding: 15px 32px;
}

.btn {}

.button-reset {}

.hero__picture {}

.hero__img {}

.img {}